body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.outline{
	padding: 15px 0px; 
	background-color: rgb(236, 236, 236);
}
.headerContent{
	padding-top: 2%;
}

.bodybackground{
	background-color: rgb(41, 47, 57);
    border-radius: 10px;
    box-shadow: rgb(45, 62, 80) 0px 0px 7px;
	margin: 0 2%;
	border: 1px solid #f0f0f0;
}

.links{
    margin-left: 10px;
}

.profileImage{

}
.profileImage img{
    border-radius: 50%;
    height: 150px;
    margin: 2% 22%;
}
.headlines{
	font-family: sans-serif; 
	color: rgb(89, 215, 226);
}
.name{
	font-size: 28px;
    margin-left: 10px;
}
.systemfont{
	font-family:system-ui;
	font-feature-settings:"tnum", "tnum";
	font-size:14px;
	padding: 1px 0;
	color: rgb(89, 215, 226);
    margin-left: 10px;
}
.borderright{
	border-right: 1px solid rgb(89, 215, 226);
}
.sideBar{
	margin:1%;
}
.heading{
	background-color: rgb(89, 215, 226);
    color: black;
    font-size: 1em;
    padding: 1% 3%;
    margin-right: 4%;
	margin-top: 8%;
    font-weight: 600;
}
.softskillcontent{
	margin: 5px 3%;
}
.softskillname, .techskillname{
	font-size: 14px;
	color: #fff;
	padding: 2px;
}
.softskillstar{
	color: rgb(250, 219, 20);
}
.techskill{
	background-color: #ebebed!important;
    color: #000!important;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    cursor: default;
    margin: 0px 2px;
    padding: 1px 6px;
    font-size: 12px;
}

.bodyContent{
	background: #fff;
	margin: 2.5% 2% 2% 2%;
    border-radius: 5px;
	padding-top: 2%;
}
.contentheading{
	padding: 0 1em;
	color: rgba(0,0,0,.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
}
.contentheading::before{
	display: inline-block;
    content: "";
    border-top: 1.5px solid #f0f0f0;
    width: 5%;
    margin: 0;
    transform: translateY(-1rem);
    top: 12px;
    position: relative;
    margin-right: 10px;
}
.contentheading::after{
	display: inline-block;
    content: "";
    border-top: 1.5px solid #f0f0f0;
    width: 60%;
    margin: 0;
    transform: translateY(-1rem);
    top: 12px;
    position: relative;
    margin-left: 10px;
}
.infocontent{
	font-size: 14px;
	padding: 2%;
}

.wrapper .event-list {
  margin-left: 3%;
}
.wrapper .event-list .event {
  width: 100%;
  position: relative;
}
.wrapper .event-list .event:not(:last-child) .event-lifeline {
  position: absolute;
  margin-left: -20px;
  margin-top: 27px;
  border-left: 3px solid #235E6F;
  height: 100%;
}
.wrapper .event-list .event .content {
  font-size: 30px;
  display: inline-block;
  color: white;
}
.wrapper .event-list .event .content:before {
  content: "";
  border-radius: 50%;
  text-align: center;
  height: 10px;
  width: 10px;
  line-height: 2px;
  display: inline-block;
  background-color: #235E6F;
  position: absolute;
  margin-top: 24px;
  left: -24px;
}